*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 1000px;
    height: 500px;
    border: 10px solid black;
    margin: auto;
    background-color: rgb(65, 172, 243);
}

#character{
    border-radius: 100px;
    width:50px;
    height:120px;
    background-color: tomato;
    position: relative;
    top: 380px;
    left: 150px;
}

@keyframes jump{
    0%{top: 390px;}
    30%{top: 250px;}
    70%{top: 250px;}
    100%{top: 390px;}
}
.animate{
    animation: jump 0.3s linear;
}

#block{
    background-color: blue;
    width: 30px;
    height: 30px;
    position: relative;
    top: 350px;
    left: 500px;
    animation: block 1s infinite linear;
}

#cloud{
    background-color: whitesmoke;
    width: 200px;
    height: 60px;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
    top: -100px;
    left: 100px;
    animation: block 10s infinite linear;
}

#cloud2{
    background-color: whitesmoke;
    width: 300px;
    height: 100px;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
    top: -100px;
    left: 100px;
    animation: block 4s infinite linear;
}

#cloud3{
    background-color: whitesmoke;
    width: 150px;
    height: 60px;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
    top: -100px;
    left: 100px;
    animation: block 7s infinite linear;
}

@keyframes block{
    0%{left: 1000px}
    100%{left: -20px}
}

p{
    text-align: center;
    font-size: 50px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}