* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

p {
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#game-over-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 99;
}

#game-over {
  background-color: white;
  width: 650px;
  height: 100px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  text-align: center;
  visibility: hidden;
}

#game-over.shown {
    visibility: visible;
}

#game-over-score {
  margin: 5px 10px;
}

.game {
  width: 1000px;
  height: 500px;
  border: 10px solid black;
  margin: auto;
  background-color: rgb(65, 172, 243);
}

#character {
  position: relative;
  top: 400px;
  left: 150px;
}

#character > img {
  width: 70px;
  height: 110px;
}

#character.animate {
  animation: characterJump 0.3s linear;
}

#block.animate {
  animation: blockMovement 1s infinite linear;
}

#block {
  background-color: blue;
  width: 30px;
  height: 30px;
  position: relative;
  top: 356px;
  left: 500px;
}

.cloud {
  background-color: whitesmoke;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
  top: -100px;
  left: 100px;
}

#cloud1 {
  width: 200px;
  height: 60px;
}

#cloud1.animate {
  animation: cloudMovement 10s infinite linear;
}

#cloud2 {
  width: 300px;
  height: 100px;
}

#cloud2.animate {
  animation: cloudMovement 4s infinite linear;
}

#cloud3 {
  width: 150px;
  height: 60px;
}

#cloud3.animate {
  animation: cloudMovement 7s infinite linear;
}

@keyframes blockMovement {
  0% {
    left: 1000px;
  }
  100% {
    left: -30px;
  }
}

@keyframes cloudMovement {
  0% {
    left: 1000px;
  }
  100% {
    left: -300px;
  }
}

@keyframes characterJump {
  0% {
    top: 400px;
  }
  2% {
    top: 410px;
  }
  10% {
    top: 350px;
  }
  20% {
    top: 300px;
  }
  50% {
    top: 260px;
  }
  80% {
    top: 300px;
  }
  90% {
    top: 350px;
  }
  98% {
    top: 410px;
  }
  100% {
    top: 400px;
  }
}
